// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.flash-message-bar {
  background-color: rgba(247, 192, 29, 0.2);
}

li {
  list-style: none;
}

.about-title {
  font-family: 'Bluesky';
  text-align: center;
  font-size: 60px;
  margin-top: 70px;
}

.about-caption-box {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.about-caption {
  display: inline-block;
  border-bottom: 5px solid #96a44a;
  border-radius: 6px;
  line-height: 0.7;
  font-weight: bold;
}

.about-intro {
  text-align: center;
}

.field_with_errors {
  width: 89%;
}