// Place all the styles related to the public/park_favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.favorite-button {
  color: #98A44A;
}

.favorite-button:hover {
  color: #c6df3a;
  text-decoration: none;
}

.unfavorite-button {
  color: #c6df3a;
}

.unfavorite-button:hover {
  color: #98A44A;
  text-decoration: none;
}

