// Place all the styles related to the public/park_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.review-post {
  margin-top: 90px;
}

.review-title-box {
  margin-botom: 40px;
  font-family: 'Bluesky' !important;
  margin-bottom: 30px;
}

.review-title {
  border-bottom: 5px solid #96a44a;
  display: inline-block;
  font-family: 'Bluesky' !important;
  border-radius: 6px;
  line-height: 0.7;
  margin-bottom: 20px;
}

.form-group-rank {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.review-submit {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.rate_number {
  color: #ff954d;
  font-weight: bold;
  font-size: 22px;
}

.review-comment-box {
  border-bottom: 3px solid grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.review-comment-box-list:last-child {
  margin-bottom: 50px;
}

.review-comment-box-list:first-child {
  border-top: 3px solid grey;
  padding-top: 10px;
}

.reviewer-name-date{
  display: inline-block;
  border-bottom: 2px double grey;
}

.reviewer-name {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.review-date {
  font-size: 16px;
  margin-left: 30px;
}

.review-comment {
  margin-top: 15px;
  font-size: 19px;
}


// .reviewer-star {