// Place all the styles related to the public/parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.park-title-index {
  margin-bottom: 20px;
  font-family: 'Bluesky' !important;
}

.park-and-sento-tag {

}

.park-and-sento-tag-title {
  margin-bottom: 20px;
  font-family: 'Bluesky' !important;
}



.park-list {
border-bottom: 2px solid #96a44a;
margin-bottom: 20px
}

.park-image-index {
  text-align: center;
  margin-bottom: 30px;
}

.park_image {
border-radius: 15px;
padding-right: 10px;
margin-top: 20px
}

.park_name_index {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.park-mini-info {
    font-size: 20px;
}

// .park_tags_index {
//   border: 2px solid #ffe28b;
//   border-radius: 15px;
//   background-color: #ffe28b;
//   margin-right: 5px;
//   padding-right: 10px;
//   padding-left: 10px;
// }

.near-sento{
  font-weight: bold;
  color :black;
}

.park-sento-name {
  font-family: 'Bluesky' !important;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 50px;
}

.info-title {
  margin-top: 30px;
  font-family: 'Bluesky' !important;
  border-bottom: 2px solid #96a44a;
}

.park-intro {
  font-size: 30px;
  border-bottom: 5px solid #96a44a;
  border-radius: 6px;
  line-height: 0.7;
  display: inline-block;
  margin-top: 40px;
  font-weight: bold;
}

.park-info {
  text-align: left;
  font-size: 20px;
}

.park-info-list {
}

.park-favorite-btn {
  font-size: 40px;
  text-align: right;
}

