// Place all the styles related to the public/parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.back-link-park-sento {
  color: black;
}

.back-link-park-sento:hover {
  color: #888e94f2 ;
  text-decoration: none;
}

.park-sento-title-index {
  margin-bottom: 20px;
  font-family: 'Bluesky' !important;
  border-bottom: 5px solid #96a44a;
  border-radius: 6px;
  line-height: 0.7;
  display: inline-block;
}

.park-and-sento-tag-title {
  margin-bottom: 20px;
  font-family: 'Bluesky' !important;
  border-bottom: 5px solid #96a44a;
  border-radius: 6px;
  line-height: 0.7;
  display: inline-block;
}

.park-sento-list {
border-bottom: 2px solid #96a44a;
margin-bottom: 20px
}

.park-sento-title-row {
  display: flex;
  justify-content: space-between;
}

.park-sento-favorite-btn {
  font-size: 40px;
  margin-top: 35px;
}

.favorite-comment {
  font-size: 15px;
}

.park-sento-review {
  text-align: right;
}

.park-sento-image-index {
  text-align: center;
  margin-bottom: 30px;
}

.park_sento_image {
border-radius: 15px;
padding-right: 10px;
margin-top: 20px
}

.park_sento_name_index {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.park_sento_name_index:hover {
  color: #888e94f2;
  text-decoration: none;
}

.park-sento-mini-info {
    font-size: 20px;
}

// .park_tags_index {
//   border: 2px solid #ffe28b;
//   border-radius: 15px;
//   background-color: #ffe28b;
//   margin-right: 5px;
//   padding-right: 10px;
//   padding-left: 10px;
// }

.near-park-sento {
  font-weight: bold;
  color :black;
}

.near-park-sento:hover {
  color: #888e94f2;
  text-decoration: none;
}

.park-sento-name {
  font-family: 'Bluesky' !important;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 50px;
}

.info-title {
  margin-top: 30px;
  margin-botom: 20px;
  font-family: 'Bluesky' !important;
  border-bottom: 2px solid #96a44a;
  display: inline-block;
}

.park-sento-tag-list {
  margin-top: 30px;
  text-align: center;
}

.park-sento-intro {
  font-size: 30px;
  border-bottom: 5px solid #96a44a;
  border-radius: 6px;
  line-height: 0.7;
  display: inline-block;
  margin-top: 40px;
  font-weight: bold;
}

.park-sento-info {
  text-align: left;
  font-size: 20px;
}

.near:hover {
  color: #888e94f2;
  text-decoration: none;
}

.near-name {
  margin-bottom: 20px;
}

.near {
  font-size: 30px;
  color: black;
  font-weight: bold;
  color: black
}








