// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-post-list {
  font-family: 'Bluesky';
  border-bottom: 5px solid #96a44a;
  border-radius: 6px;
  line-height: 0.7;
  display: inline-block;
  margin-bottom: 60px;
}

.post-user-info {
  font-size: 20px;
  border-bottom: 2px double #96a44a;
}

.post-user {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.post-user:hover {
  color: #888e94f2;
  text-decoration: none;
}

.post-area-date-box {
  display: flex;
  justify-content: space-between;
}

.post-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.post-park-sento-title {
  text-align: center;
  font-family: 'Bluesky';
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  background-color: #96a44a;
}

.like-comment-count {
  font-size: 20px;
  margin-bottom: 20px;
}
// .post-tag-list

.post-spark-sento-explain {
  font-size: 18px;
}

.post-edit {
  display: flex;
  justify-content: end;
  border-bottom: 2px solid #98A44A;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.post-edit-link, .post-delete-link {
  color: black;
}

.post-edit-link:hover, .post-delete-link:hover {
  color: #888e94f2;
  text-decoration: none;
}

  // .post-post-list-support {
  //   font-family: 'Bluesky';
  //   border-bottom: 5px solid #96a44a;
  //   border-radius: 6px;
  //   line-height: 0.7;
  //   display: inline-block;
  // }




