// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.signin-link-caption {
  display: flex;
  justify-content: center;
}

.signin-link {
  color: grey;
  margin-bottom: 10px;
  text-align: center;
}

.card-block {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card-title {
  text-align: center;
  font-family: 'Bluesky';
  margin-top: 30px;
  font-size: 23px;
}

.log-sign-title {
  font-family: 'Bluesky';
}

.account-intro-box {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.account-intro {
margin: 0 auto;
display: inline-block;
// border: 2px solid #98A44A;
// border-radius: 20px;
text-align: center;
font-weight: bold;
padding: 10px;
font-size: 20px;
// background-color: white;
// color: #98A44A;
}
