// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.signin-link-caption {
  display: flex;
  justify-content: center;
}

.signin-login-out-link {
  color: grey;
  margin-bottom: 10px;
  text-align: center;
}

.signin-login-out-link:hover {
  color: black;
  text-decoration: none;
}

.card-block {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card-title {
  text-align: center;
  font-family: 'Bluesky';
  margin-top: 30px;
  font-size: 23px;
}

.log-sign-title {
  font-family: 'Bluesky';
  border-bottom: 5px solid #96a44a;
  border-radius: 6px;
  line-height: 0.7;
  display: inline-block;
}

.account-intro-box {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.account-intro {
margin: 0 auto;
display: inline-block;
// border: 2px solid #98A44A;
// border-radius: 20px;
text-align: center;
font-weight: bold;
padding: 10px;
font-size: 20px;
// background-color: white;
// color: #98A44A;
}

.edit-title {
  font-family: 'Bluesky';
  border-bottom: 5px solid #96a44a;
  border-radius: 6px;
  line-height: 0.7;
  display: inline-block;
}

.unsubscribe {
  font-family: 'Bluesky';
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.cancel-or {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.account-info {
  font-size: 20px;
}

.favorite-link {
  font-size: 20px;
  color: black;
}

.favorite-link:hover {
  text-decoration: none;
  color: #888e94f2;
}
