<% if @word == "" %>
   <h3>キーワードが入力されてません。</h3>
<% elsif @model == "" %>
   <h3>項目を選択してください</h3>
<% else %>
    <% if @model == 'Park' %>
        <h5>"<%= @word %>"の検索結果</h5>
          <% @records.each do |park| %>
            <%= render 'public/parks/index', park: park %>
          <% end %>
    <% elsif @model == '銭湯' %>
        <h5>"<%= @word %>"の検索結果</h5>
          <% @records.each do |sento| %>
            <%= render 'public/sentos/index', sento: sento %>
          <% end %>
    <% end %>
<% end %>
