<div class="about-title">
  About<br>SKATE AND SENTO
</div>
<div class="about-caption-box">
  <h4 class="about-caption">
    スケートボードと銭湯をこよなく愛しているスケーターが作ったサイト
  </h4>
</div>

<div class="about-caption-box">
  <p class="about-intro">
    大阪、京都のスケートボードのパーク情報、その近辺にある銭湯を紹介しております！！<br>
    また、会員登録していただいた方々による大阪、京都以外のスケートボードパーク、<br>
    銭湯の情報の投稿できるようになっており、スケートをする楽しみ、<br>
    その場でしか味わえない銭湯の雰囲気などを感じてもらい、このサイトを通じて皆様のスケートライフ、<br>
    銭湯ライフをより良いものに出来たらと思います！
  </p>
</div>


