// Place all the styles related to the admin/parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-park-sento-new {
  display: flex;
  justify-content: center;
}

.admin-park-sento-submit {
  display: flex;
  justify-content: center;
}

