// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 .admin-card-title {
    text-align: center;
    margin-top: 30px;
    font-size: 23px;
 }
