<% if @tag.present? %>
  <h3>#<%= @tag.name %></h3><h4>を含んだPARK LIST</h4>
<% else %>
  <h2 class="park-title-index mt-5 mb-5">PARK LIST</h2>
<% end %>
<% @parks.each do |park| %>
  <%= render 'index', park: park %>
<% end %>

<div class="page">
 <%= paginate @parks %>
</div>
