<div id='error'>
<%= render 'layouts/errors', obj: post, obj: post_comment %>
</div>
    <%= form_with model: [post, post_comment], local: false do |f| %>
        <%= f.text_area :comment, placeholder: "コメントをここにしてください", id: "post_comment_#{post.id}" %>
        <%= f.submit 'コメントをする' %>
    <% end %>