<h3>本当に退会しますか？？</h3>
<p>退会すると会員情報の変更や利用履歴の閲覧を含む全ての会員機能が利用できなくなります。
退会する場合は、「退会する」をクリックして下さい。</p>

<%= link_to 'キャンセルする', my_page_users_path %>
<%= link_to '退会する', withdraw_users_path, method: :patch %>